[Unit]
Description=OpenStack CloudKitty API Server
After=syslog.target network.target

[Service]
Type=simple
User=cloudkitty
ExecStart=/usr/bin/cloudkitty-api
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target


